In [1]:
s= 'sudhanshu'
l= [4,5,6,7,88,98,9,0,0,0,100]

In [6]:
l[0]

4

In [7]:
l[4]

88

In [8]:
l[-1]

0

In [9]:
l

[4, 5, 6, 7, 88, 98, 9, 0, 0, 0]

In [10]:
l[::-1]

[0, 0, 0, 9, 98, 88, 7, 6, 5, 4]

In [11]:
l[::2]

[4, 6, 88, 9, 0]

In [12]:
l[1::2]

[5, 7, 98, 0, 0]

In [13]:
l

[4, 5, 6, 7, 88, 98, 9, 0, 0, 0]

In [16]:
l[2]= 'akshay'
l[4]= 'reddy'

In [17]:
l

[4, 5, 'akshay', 7, 'reddy', 98, 9, 0, 0, 0]

In [18]:
l[7:]

[0, 0, 0]

In [19]:
l[5]= ""

In [20]:
l

[4, 5, 'akshay', 7, 'reddy', '', 9, 0, 0, 0]

In [22]:
l[2]+" "+ l[4]

'akshay reddy'

In [23]:
l[1::2]

[5, 7, '', 0, 0]

In [24]:
l[0:5]

[4, 5, 'akshay', 7, 'reddy']

In [25]:
l[5:]

['', 9, 0, 0, 0]

In [27]:
l1=[0,1,2,3,45]

In [28]:
l2=[1,2,3,4,5]

In [29]:
l1+l2

[0, 1, 2, 3, 45, 1, 2, 3, 4, 5]

In [30]:
l

[4, 5, 'akshay', 7, 'reddy', '', 9, 0, 0, 0]

In [32]:
l[5]=l1

In [33]:
l

[4, 5, 'akshay', 7, 'reddy', [0, 1, 2, 3, 45], 9, 0, 0, 0]

In [34]:
t=(10,20,30,40)

In [35]:
t[1]

20

In [36]:
t=(5)

In [37]:
type(t)

int

In [38]:
t=(1,2,3,4,5,6)

In [39]:
t[0:3]

(1, 2, 3)

In [40]:
t=(1,2)

In [41]:
t1=(3,4)

In [42]:
t2=t+t1

In [43]:
t2

(1, 2, 3, 4)

In [44]:
t=(10,20,30,50,40)

In [45]:
t.index(50)

3

In [46]:
t=(10,20,10,40,10)

In [47]:
t.count(10)

3

In [48]:
t=(15,25,35)

In [49]:
list(t)

[15, 25, 35]

In [50]:
t=(5,1,3,2,4)

In [55]:
t1=list(t)

In [56]:
t1

[5, 1, 3, 2, 4]

In [57]:
t1.sort()

In [58]:
t=(15,25,35)

In [60]:
t1=list(t)

In [61]:
t1

[15, 25, 35]

In [62]:
t=(1,2)

In [63]:
t1= t + t + t

In [64]:
t1

(1, 2, 1, 2, 1, 2)

In [67]:
s= 'I am learning python'

In [68]:
s.index('python')

14

In [69]:
s="hello world"

In [71]:
s.upper()

'HELLO WORLD'

In [72]:
s= "the cat sat on the cat mat"

In [80]:
s.replace('cat', 'dog')

'the dog sat on the dog mat'

In [81]:
s='banana'

In [83]:
s.count("a")

3

In [84]:
s="Hello World"

In [85]:
s[6:]

'World'

In [86]:
s[::-1]

'dlroW olleH'

In [87]:
s=" Hello World "

In [88]:
s.strip()

'Hello World'

In [89]:
s="abc123"

In [91]:
s.isnumeric()

False

In [112]:
s="apple,banana,cherry"

In [113]:
s.split()

['apple,banana,cherry']

In [124]:
l=[1,2,3,4]

In [125]:
l.append(5)

In [126]:
l

[1, 2, 3, 4, 5]

In [127]:
l=["apple",'banana','cherry']

In [128]:
l.remove('banana')

In [129]:
l

['apple', 'cherry']

In [130]:
l.insert(1,'orange')

In [131]:
l

['apple', 'orange', 'cherry']

In [132]:
l=[1,2,3,4,5]

In [133]:
l.index(3)

2

In [134]:
l=[1,2,3,4]

In [135]:
l.reverse()

In [136]:
l

[4, 3, 2, 1]

In [137]:
l=[10,20,30,40,50]

In [138]:
l[0:3]

[10, 20, 30]

In [139]:
l=[5,2,9,1,5]

In [140]:
l.sort()

In [141]:
l

[1, 2, 5, 5, 9]

In [142]:
l= [5,1,5,2,5,3]

In [143]:
l.count(5)

3

In [144]:
l=[1,2]

In [145]:
l1=[3,4]

In [146]:
l+l1

[1, 2, 3, 4]

In [147]:
l=["apple", "banana", 'cherry']

In [148]:
l.count('kiwi')

0

In [156]:
d= {"name": "akshay"}

In [157]:
d.update({'age':25})

In [158]:
d

{'name': 'akshay', 'age': 25}

In [159]:
d['name']= 'karthik'

In [160]:
d

{'name': 'karthik', 'age': 25}

In [161]:
d.pop('age')

25

In [162]:
d

{'name': 'karthik'}

In [165]:
d={'name': 'akshay', 'age': 25, 'city': 'new york'}

In [166]:
d.keys()

dict_keys(['name', 'age', 'city'])

In [167]:
d.values()

dict_values(['akshay', 25, 'new york'])

In [168]:
d.update({'sex': 'male'})

In [169]:
d

{'name': 'akshay', 'age': 25, 'city': 'new york', 'sex': 'male'}

In [171]:
d.clear()

In [172]:
d

{}

In [173]:
l1= ['name', 'age']

In [174]:
l2= ['john', 30]

In [179]:
dict(zip(l1,l2))

{'name': 'john', 'age': 30}

In [181]:
num= int(input('enter the number'))
if num == 0:
    print('num is zero')
elif num > 0:
    print('num is positive')
else:
    print('num is negative')

num is negative

In [184]:
num= int(input('enter the number'))
if num % 2 == 0:
    print(num,"is even")
else:
    print(num, "is odd number")

-6 is even

In [190]:
alpha = input('enter the alphabet')
if alpha in ('a', 'e', 'i', 'o', 'u'):
    print("is vowel")
else:
    print("is not a vowel")

is not a vowel

In [192]:
age = int(input('enter the age'))
if age >= 18:
    print("you are eligible to vote")
else:
    print('you are nto eligible to vote')

you are eligible to vote

In [197]:
num = int(input('enter the number'))
if num % 5 == 0:
    print(num,'is divisible by 5')
elif num % 11 == 0:
    print(num, 'is divisible by 11')
else:
    print(num,'is neither divisible by 5 nor 11')

52 is neither divisible by 5 nor 11

In [203]:
weight = float(input('enter the weight in kgs'))
height= float(input('enter the height in ms'))
bmi= weight/ (height ** 2)
if bmi < 18.5:
    print("Category: Underweight")
if 18.5 <= bmi < 24.9:
    print("Category: Normal weight")
if 25 <= bmi < 29.9:
    print("Category: Overweight")
if bmi >= 30:
    print("Category: Obese")

Category: Underweight

In [212]:
char = input('enter a character')
if char.isupper():
    print(char,'is upper')
else:
    print(char,'is lower')

20 is lower

In [223]:
a= int(input('enter math marks'))
b= int(input('enter biology marks'))
c= int(input('enter science marks'))
d= int(input('enter eng marks'))
avg= (a+b+c+d) / 4
print('avg',avg)
if avg >= 90:
    print(" A Grade")
elif avg >= 75:
    print("B Grade")
elif avg >= 60:
    print("C Grade")
else:
    print("D Grade")

avg 44.0
D Grade

In [227]:
light = input('enter the light colour')
if light == 'green':
    print("GO")
elif light == 'orange':
    print('GET READY')
elif light == 'red':
    print('STOP')
else:
    print('enter the correct colour')

enter the correct colour

In [230]:
units= int(input('enter the no of units'))
bill =0
if units <= 100:
    bill = units * 1.50
elif units <= 200:
    bill= units * 2.50
else:
    bill = units * 4


print("bill as per units is",bill)

bill as per units is 75.0

In [235]:
a= input('enter a name')
if a[0] in {'a','e','i','o','u'}:
    print("string started with vowel")
else:
    print('string started with consonant')

string started with vowel

In [245]:
income= int(input('enter the income'))
x=0
y=0
a=0
b=0
tax=0
if income <= 250000:
    print('there is no tax')
elif income <= 500000:
    x= income - 250000
    tax = (5 / 100) * x
    print("tax for the income",x)
elif income <= 1000000:
    x= income - 500000
    a= (20 / 100) * x
    b= 12500
    tax = a + b
    print('tax of the income is',tax)
else:
    x= income - 1000000
    a= (30 / 100) * x
    b= 112500
    tax = a + b 
    print("tax for the incom is", tax)

tax for the incom is 712500.0

In [246]:
#Write a program to check whether a person is eligible for a senior citizen discount based on their age.
age= int(input('enter the age'))
if age >= 60:
    print('your are eligible for senior citizen discount')
else:
    print('you are not eligible for senior citizen discount')

your are eligible for senior citizen discount

In [251]:
weight = float(input('enter the weight in kgs'))
height= float(input('enter the height in ms'))
bmi= weight/ (height ** 2)

if bmi < 18.5:
    print('category: underweight')
elif bmi <= 24.9:
    print('category: Normal weight')
elif bmi<= 29.9:
    print('category: overweiht')
else:
    print('category:obese')

category: Normal weight

In [254]:
print("Welcome to coffee shop")
print('Menu:')
print('1. Espresso  150RS')
print('2. Cappuccino  250RS')
print('3. Latte  250RS')
print('4. Mocha  300RS')
choice = int(input('enter your choice from the above: '))
if choice == 1:
    print("the cost is 150rs and enjoy your coffee")
elif choice == 2:
    print("the cost is 250rs and enjoy your coffee")
elif choice == 3:
    print("the cost is 250rs and enjoy your coffee")
elif choice == 4:
    print("the cost is 300rs and enjoy your coffee")
else:
    print('enter the correct choice')

Welcome to coffee shop
Menu:
1. Espresso  150RS
2. Cappuccino  250RS
3. Latte  250RS
4. Mocha  300RS
the cost is 300rs and enjoy your coffee

In [265]:
balance= 1000
print('SBI ATM')
print('1. Enter here to check balance')
print('2. enter here to deposit the cash')
print('3. enter here to withdraw amount')
choice = int(input('enter your choice'))
if choice == 1:
    print('your balance is 1000')
elif choice == 2:
    deposit= int(input('enter the amount to deposit'))
    if deposit > 0:
        balance += deposit
        print('your amount is successfully deposited and your new balance is', balance)
    else:
        print('enter the valid amount')
elif choice == 3:
    withdraw= int(input('enter the amount to withdraw'))
    if balance > withdraw:
        balance = balance - withdraw
        print('your withdraw is successfully done and your reaining balance is', balance)
    else:
        print('insufficient balance')
    
else:
    print('enter the correct choice')

SBI ATM
1. Enter here to check balance
2. enter here to deposit the cash
3. enter here to withdraw amount
enter the correct choice

In [273]:
month= input('enter the month')
if month in {'jan', 'dec', 'feb'}:
    print('the month is winter season')
elif month in {'mar', 'april', 'may', 'june'}:
    print('these month is summer season')
elif month in {'july','august', 'sep'}:
    print("the month is rainy or monsoon season")
else:
    print('the month is autumn season')

the month is rainy or monsoon season

In [278]:
amount= int(input('enter the amount'))
x=0
y=0
if amount <= 0:
    print('enter the valid amount')
elif amount <= 1000:
    x = 5 / 100 * amount
    y = amount - x 
    print('the discount amount is ', x)
    print('the amount after 5 percent  discount is ', y)
elif amount <= 3000:
    x = 10 / 100 * amount
    y = amount - x 
    print('the discount amount is ', x)
    print('the amount after 10 percent  discount is ', y)
elif amount <= 5000:
    x = 15 / 100 * amount
    y = amount - x 
    print('the discount amount is ', x)
    print('the amount after 15 percent discount is ', y)
else:
    x = 20 / 100 * amount
    y = amount - x 
    print('the discount amount is ', x)
    print('the amount after 20% discount is ', y)

the discount amount is  2000.0
the amount after 20% discount is  8000.0

In [284]:
number = int(input('enter a number'))
if number == 0:
    print("the givem number is zero and it is even number")
elif number < 0:
    print('the given number is negative')
    if number / 2 == 0:
        print('the given number is even')
    else:
        print('the given number is odd number')
else:
    print('the given number is positive')
    if number / 2 == 0:
        print('the given number is even')
    else:
        print('the given number is odd number')

the given number is positive
the given number is odd number

In [287]:
num = int(input('enter the day'))
if num == 1:
    print('the day is monday')
elif num == 2:
    print('the day is tuesday')
elif num == 3:
    print('the day is wednesday')
elif num == 4:
    print('the day is thursday')
elif num == 5:
    print('the day is friday')
elif num == 6:
    print('the day is saturday')
elif num == 7:
    print('the day is sunday')
else:
    print('enter the valid day')

the day is monday

In [295]:
rating = int(input('enter the employee performance rating'))
if rating > 90:
    print('the employee grade is excellent')
elif rating > 75:
    print('the employee grade is good ')
elif rating > 50:
    print('the employee grade is average')
elif rating < 50:
    print('the employee garde is poor')
else:
    print('enter the valid rating')

the employee grade is excellent

In [298]:
month= int(input('enter the birth month (1-12)') )
date= int(input('enter the birth date (1-31)'))

if (month == 1 and date >= 20) or (month == 2 and date <= 18):
    print('the zodiac sign is AQUARIUS')
elif (month == 2 and date >= 19) or (month == 3 and date <= 20):
    print('the zodiac sign is PISCES')
elif (month == 3 and date >= 21) or (month == 4 and date <= 19):
    print('the zodiac sign is ARIES')
elif (month == 4 and date >= 20) or (month == 5 and date <= 20):
    print('the zodiac sign is TAURUS')
elif (month == 5 and date >= 21) or (month == 6 and date <= 20):
    print('the zodiac sign is GEMINI')
elif (month == 6 and date >= 21) or (month == 7 and date <= 22):
    print('the zodiac sign is CANCER')
elif (month == 7 and date >= 23) or (month == 8 and date <= 22):
    print('the zodiac sign is LEO')
elif (month == 8 and date >= 23) or (month == 9 and date <= 22):
    print('the zodiac sign is VIRGO')
elif (month == 9 and date >= 23) or (month == 10 and date <= 22):
    print('the zodiac sign is LIBRA')
elif (month == 10 and date >= 23) or (month == 11 and date <= 21):
    print('the zodiac sign is SCORPIO')
elif (month == 11 and date >= 22) or (month == 12 and date <= 21):
    print('the zodiac sign is SAGGITARIUS')
elif (month == 12 and date >= 22) or (month == 1 and date <= 19):
    print('the zodiac sign is CAPRICON')
else:
    print('enter the correct date or month')

the zodiac sign is CAPRICON

In [300]:
n= int(input('enter a number'))
for i in range(1,10):
    x= n*i
    print(x)

10
20
30
40
50
60
70
80
90

In [302]:
n= int(input('enter a number'))
for i in range(1,n):
    if i%3 == 0 and i%5 == 0:
        print(i,'is divisible by 3 and 5')

15 is divisible by 3 and 5
30 is divisible by 3 and 5

In [337]:
n= int(input('enter a number'))
a=0
for i in range(1,n+1):
    a += i ** 2

print(a)

55

In [319]:
l=[10,20,30,40,50,60,70,80]
first_lar=second_lar=0
for i in l:
    if i > first_lar:
        second_lar = first_lar
        first_lar = i
    elif i > second_lar and i != first_lar:
        second_lar = i

print(second_lar)

70

In [331]:
l=[10,20,30,40,50,60,70,80]
l1=[]
for i in range(len(l)-1,-1,-1):
    l1.append(l[i])

print(l1)

[80, 70, 60, 50, 40, 30, 20, 10]

In [330]:
l

[10, 20, 30, 40, 50, 60, 70, 80]

In [336]:
l=[1,2,3,4,5,6,7,8,9]
a=0
for i in l:
    if i % 2 != 0:
        a += i
print(a)

25

In [341]:
l=[1,2,3,4,5,6,7,8,9]
a = 5
l1=[]
for i in l:
    if i > 5:
        l1.append(i)
x= len(l1)
print('the count of numbers in a list greater than a is', x)
print(l1)

the count of numbers in a list greater than a is 4
[6, 7, 8, 9]

In [345]:
l= ['akshay','karthik','chitti','harsha','rakku']
x=0
for i in l:
    x= len(i)
    print('the length of',i,'is',x)

the length of akshay is 6
the length of karthik is 7
the length of chitti is 6
the length of harsha is 6
the length of rakku is 5

In [351]:
row = 10
for i in range(1,row+1):
    print(" * "*i)

 *
 *  *
 *  *  *
 *  *  *  *
 *  *  *  *  *
 *  *  *  *  *  *
 *  *  *  *  *  *  *
 *  *  *  *  *  *  *  *
 *  *  *  *  *  *  *  *  *
 *  *  *  *  *  *  *  *  *  *

In [368]:
s = '12345'
b=0
i=0
while i <= len(s):
    b += i
    i = i + 1
print(b)

15

In [359]:
s = 1234
s1= str(s)
a=0
for i in s1:
    int(i) > a
    a = int(i)
print(i)

4

In [364]:
n= 10
i = 1
while i <= n:
    if i %2 == 0:
        print(i)
    i += 1

2
4
6
8
10

In [367]:
n= 100
i= 0
sum = 0
while i <= n:
    sum += i
    i += 1
print(sum)

5050

In [388]:
n = 12345
sum= 0
i=0
while i < len(s):
    sum += i
    i += 1
print(sum)

6

In [380]:
i = 20
n= -1
while i!=n:
    n = int(input('enter a number'))
    if i!=n:
        print('wrong guess')
    else :
        print('correct guess')

wrong guess
wrong guess
correct guess

In [384]:
s = ''
while s!= 'exit':
    s= input("enter exit")
    if s!= 'exit':
        print('wrong')
    else:
        print('correct')

wrong
wrong
wrong
wrong
correct

In [392]:
n= int(input('enter a number'))
a= type(str(n))
b= range(1,n+1)
sum = 0
while n!=sum:
    n= int(input('enter a number'))
    #1234
    for i in n:
        sum += i*b
        if sum == n:
            print('it is armstrong number')
        else:
            print('this is nt armstrong num')

TypeError: 'int' object is not iterable

In [399]:
n=  int(input('enter a number'))
while n >= 0:
    print(n)
    n -= 1

7
6
5
4
3
2
1
0

In [1]:
n = int(input('enter a number'))
sum= 0
a = len(str(n))
while n != sum:
   n = int(input('enter a number'))
   b= n%10
   sum += b*a
   n // 10
   if n!= sum:
      print('not armstrong')
   else:
      print('armstrong')

armstrong

In [10]:
class course:
    def __init__(self,course_id,course_name,instructor_name):
        self.course_id=course_id
        self.course_name=course_name
        self.instructor_name=instructor_name
    def coursedetails(self):
        return f'course id: {self.course_id},course name:{self.course_name},instructor name:{self.instructor_name}'
a=course(250,'python','akshay')
a.coursedetails()

'course id: 250,course name:python,instructor name:akshay'

In [12]:
class student:
    def __init__(self,student_id,name,enrolled_courses):
        self.student_id=student_id
        self.name=name
        self.enrolled_courses=enrolled_courses
    def enrollstudent(self,studentname):
        self.studentname=studentname
        return f'{self.studentname} is enrolled in {self.enrolled_courses}'

In [15]:
x=student(250,'akshay','python,java')
x.enrollstudent('dinesh')

'dinesh is enrolled in python,java'

In [36]:
class sub:
    def __init__(self,username,subtype,price):
        self.username=username
        self.suntype=subtype
        self.price=price
    def details(self):
        return f' {self.username} is sub with {self.suntype} and the price is {self.price}'
    def upgradesub(self,type,price):
        self.type=type
        self.price=price
        return f'subscription is updated to {self.type} and upgraded amount is {self.price}'

z=sub('aks77','premium',1999)
print(z.details())
z.upgradesub('gold',2555)

 aks77 is sub with premium and the price is 1999

'subscription is updated to gold and upgraded amount is 2555'

In [26]:
z=sub('aks77','premium',1999)
print(z.details())

 aks77 is sub with premium and the price is 1999

In [41]:
class databaseconnection:
    def __init__(self):
        print('Connected to the data base')
    def __del__(self):
        print ('disconnected from the database')

In [43]:
x= databaseconnection()
del x

Connected to the data base
disconnected from the database

In [44]:
class user:
    def __init__(self,user_id,name):
        self.user_id=user_id
        self.name=name
    def showdetails(self):
        return f'user signed up with{self.user_id} and {__name__}'
class student(user):
    def __init__(self, student):
        self.student=student
    def showdetails(self):
        return f'user signed up with{self.user_id},{self.student} and {__name__} '   
class teacher(user):
    def __init__(self, teacher):
        self.teacher=teacher
    def showdetails(self):
        return f'user signed up with{self.user_id},{self.teacher} and {__name__} '

In [49]:
class user:
    def __init__(self,user_id,name):
        self.user_id=user_id
        self.name=name
    def showdetails(self):
        return f'user signed up with{self.user_id} and {__name__}'
class student(user):
    def __init__(self, user_id, name,grade):
        super().__init__(user_id, name)
        self.grade=grade
    def showdetails(self):
        return f' user id:{self.user_id},name: {self.name},grade:{self.grade}'
class teacher(user):
    def __init__(self, user_id, name,subject):
        super().__init__(user_id, name)
        self.subject=subject
    def showdetails(self):
        return f' user id:{self.user_id},name: {self.name},subject:{self.subject}'
student = student(252,'akshay','a')
teacher= teacher(252,'akshay','maths')
print(student.showdetails())
print(teacher.showdetails())

 user id:252,name: akshay,grade:a
 user id:252,name: akshay,subject:maths

In [51]:
class user:
    def __init__(self,user_id,name):
        self.user_id=user_id
        self.name=name
    def showdetails(self):
        return f'user signed up with{self.user_id} and {__name__}'
class student(user):
    def __init__(self, user_id, name,grade):
        super().__init__(user_id, name)
        self.grade=grade
    def showdetails(self):
        return f' user id:{self.user_id},name: {self.name},grade:{self.grade}'
class teacher(user):
    def __init__(self, user_id, name,subject):
        super().__init__(user_id, name)
        self.subject=subject
    def showdetails(self):
        return f' user id:{self.user_id},name: {self.name},subject:{self.subject}'
def show_details(entity):
    print(entity.showdetails())

student = student(252,'akshay','a')
teacher= teacher(252,'akshay','maths')
show_details(teacher)
show_details(student)

 user id:252,name: akshay,subject:maths
 user id:252,name: akshay,grade:a

In [61]:
class vehcile:
    def __init__(self,make,model,year):
        self.make=make
        self.model=model
        self.year=year
    def showvehciledetails(self):
        return f'make:{self.make},model:{self.model},year:{self.year}'
class car(vehcile):
    def __init__(self, make, model, year,doorno):
        super().__init__(make, model, year)
        self.doorno=doorno
    def showvehciledetails(self):
        return f'make:{self.make},model:{self.model},year:{self.year},doorno:{self.doorno}'
class motorcycle(vehcile):
    def __init__(self, make, model, year,v_twin):
        super().__init__(make, model, year)
        self.v_twin=v_twin
    def showvehciledetails(self):
        return f' make:{self.make},model:{self.model},year:{self.year},v_twin:{self.v_twin}'
def show_vehicle_info(vehicle):
    return vehicle.showvehciledetails()
car=car('platinum',1996,1996,6)
motorcycle=motorcycle('platinum',1995,1995,'xy')
show_vehcile_info(car)
show_vehcile_info(motorcycle)

NameError: name 'show_vehcile_info' is not defined

In [69]:
class Employee:
    def __init__(self,emp_id,name,salary):
        self.emp_id=emp_id
        self.name=name
        self.salary=salary
    def show_employee_details(self):
        print(f'emp_id: {self.emp_id},name: {self.name},salary: {self.salary}')
class Manager(Employee):
    def __init__(self, emp_id, name, salary,team_size):
        super().__init__(emp_id, name, salary)
        self.team_size=team_size
    def show_employee_details(self):
        print(f'emp_id: {self.emp_id},name: {self.name},salary: {self.salary},team size:{self.team_size}')
class Developer(Employee):
    def __init__(self, emp_id, name, salary,programming_language):
        super().__init__(emp_id, name, salary)
        self.programming_language=programming_language
    def show_employee_details(self):
        print(f'emp_id: {self.emp_id},name: {self.name},salary: {self.salary},pro language:{self.programming_language}')
def show_employee_info(employee):
    return employee.show_employee_details()

x=Manager(12,'aks',25000,6)
y=Developer(12,'aks',25,'python')
x.show_employee_details()
show_employee_info(x)

emp_id: 12,name: aks,salary: 25000,team size:6
emp_id: 12,name: aks,salary: 25000,team size:6

In [70]:
#Implement a class Payment with private attributes _card_number and _cvv. Add methods to:Set and get card details securely.




class Payment:
    def __init__(self,card_number,cvv):
        self.__card_number=card_number
        self.__cvv=cvv
    def get_card(self):
        return self.__card_number
    def get_cvv(self):
        return self.__cvv

In [76]:
payment=Payment(123456789,254)
print(payment.get_card())
print(payment.get_cvv())

123456789
254

In [81]:
from abc import ABC, abstractmethod
class CourseContent(ABC):

    @abstractmethod
    def get_details():
        pass
    
    @abstractmethod
    def get_duration():
        pass
class VideoCourse(CourseContent):
    def __init__(self,video_quality,video_length,duration):
        self.video_quality=video_quality
        self.video_length=video_length
        self.duration=duration
    def get_details(self):
        return f'quality:{self.video_quality},length: {self.video_length} minutes'
    def get_duration(self):
        return f"duration= {self.duration}"
class Ebook(CourseContent):
    def __init__(self,author,page_count,duration):
        self.author=author
        self.page_count=page_count
        self.duration=duration
    def get_details(self):
        return f'author:{self.author},pages: {self.page_count} minutes'
    def get_duration(self):
        return f"duration= {self.duration}"
x= VideoCourse('1080hd',52,36)
y=Ebook('akshay',258,32)
print(x.get_details())
print(x.get_duration())
print(y.get_duration())
y.get_duration()

quality:1080hd,length: 52 minutes
duration= 36
duration= 32

'duration= 32'

In [3]:
class CartItem:
    def __init__(self,name,price,quantity):
        self.name=name
        self.price=price
        self.quantity=quantity
    def __str__(self):
        return f'name:{self.name},price:{self.price}:{self.quantity}'
    def __add__(self):
        
x=CartItem('laptop',75000,2)
print(x)

name:laptop,price:75000:2

In [12]:
from abc import ABC, abstractmethod
class SubscriptionPlan:
    @abstractmethod
    def get_price(self):
        pass
    @abstractmethod
    def get_duration(self):
        pass
class MonthlyPlan(SubscriptionPlan):
    def __init__(self,amount,validity):
        self.amount=amount
        self.validity=validity
    def get_price(self):
        return f'amount:{self.amount}'
    def get_duration(self):
        return f'validity:{self.validity}'
class YearlyPlan(SubscriptionPlan):
    def __init__(self,amount,validity):
        self.amount=amount
        self.validity=validity
    def get_price(self):
        return f'amount:{self.amount}'
    def get_duration(self):
        return f'validity:{self.validity}'
x= MonthlyPlan(5000,30)
y= YearlyPlan(10000,365)
print(x.get_price())

print(x.get_duration())
print(y.get_price())
print(y.get_duration())

amount:5000
validity:30
amount:10000
validity:365

In [20]:
from abc import ABC, abstractmethod
class Subscription:
    def __init__(self,plan,price):
        self._plan=plan
        self._price=price
    @property
    def plan(self):
        return self._plan
    @property
    def price(self):
        return self._price
    @plan.setter
    def set(self,value):
        self._plan=value
        if value == Monthly:
            return f'price: 500,plan: monthly'
        elif value == yearly:
            return f'price:5000,plan:yearly'
        else:
            pass
x= Subscription('Monthly' ,500)
print(x)

<__main__.Subscription object at 0x00000222DF38AD10>

In [23]:
class Product:
    def __init__(self,name,price,discount):
        self._name=name 
        self._price=price
        self._discount=discount
    @property
    def get_name(self):
        return self._name
    @property
    def get_price(self):
        return self._price
    @property
    def get_discount(self):
        return self._discount

In [ ]:
def fibonacci_series(n):
    for i in n:
        
        yield i

In [ ]:
Creating Iterators
Custom Iterators
Implement an iterator class CourseIterator that takes a list of courses and iterates over them one by one.
Generators and Using yield