In [1]:
s= "sudh"

In [2]:
s[0]

's'

In [3]:
s[-1]

'h'

In [9]:
s[ 0: 3]

'sud'

In [10]:
s

'sudh'

In [11]:
s[0:2]

'su'

In [12]:
s[1:3]

'ud'

In [14]:
s[2:4000]

'dh'

In [15]:
s[2:]

'dh'

In [16]:
s

'sudh'

In [17]:
s[0:3:2]

'sd'

In [18]:
s[0:4:3]

'sh'

In [19]:
s

'sudh'

In [20]:
s[3:1:-1]

'hd'

In [21]:
s1="akshay reddy"

In [22]:
s1[0:6]

'akshay'

In [23]:
s1[7:]

'reddy'

In [25]:
s1[0: :3]

'ah d'

In [26]:
s1[12: :-2]

'ydryhk'

In [29]:
s1[-7: :-1]

'yahska'

In [30]:
s1[-12:-6]

'akshay'

In [31]:
s1

'akshay reddy'

In [33]:
s1[7:] + " " + s1[0:7]

'reddy akshay '

In [34]:
s1[11: :-1]

'ydder yahska'

In [35]:
s1[::-1]

'ydder yahska'

In [37]:
l= [1,2,3,4,5, "sudh", "euron", "python eng batch 8.45 AM IST"]

In [48]:
l[6][::-1]

'norue'

In [46]:
l[-3][2:]

'dh'

In [40]:
l[5:7]

['sudh', 'euron']

In [49]:
l1=[[4,5,6], "euron", (4+7j), True, [4,5,6,"sudh"]]

In [51]:
l1[4][3][2:]

'dh'

In [53]:
l1[2].imag

7.0

In [54]:
t=(3,4,5,6,76,77,"sudh","euron")

In [56]:
t[-1]

'euron'

In [57]:
t[-1][::-1]

'norue'

In [58]:
t[4:]

(76, 77, 'sudh', 'euron')

In [59]:
t=([4,5,6,7],'sudh',True,5+8j)

In [60]:
l2=[(3,4,5,6),'sudh','python']

In [61]:
t1=(0,1,2,3,4)

In [64]:
l3 = [4,5,6,7]

In [65]:
l3[0] = 'sudh'

In [66]:
l3

['sudh', 5, 6, 7]

In [67]:
t1[0]='akshay'

TypeError: 'tuple' object does not support item assignment

In [68]:
s= 'akshay'

In [70]:
s[0]= 'b'

TypeError: 'str' object does not support item assignment

In [73]:
s= {10,2,3,0,0,10,10,20,20,45.67,'akshay,59,88'}

In [74]:
type(s)

set

In [76]:
s1={}

In [77]:
type(s1)

dict

In [85]:
list(s)

[0, 2, 3, 20, 'akshay,59,88', 10, 45.67]

In [86]:
list(s)[2:4]

[3, 20]

In [87]:
tuple(s)

(0, 2, 3, 20, 'akshay,59,88', 10, 45.67)

In [90]:
d= {"name" : "akshay", "class": "python"}

In [93]:
d['name']

'akshay'

In [94]:
d["class"]

'python'

In [100]:
d1 = {0:[3,4,5,6,6] , "xyz": (3,4,5,6,7) , True : {4,5,6,7,7,5,5,4} , "company name": "euron", "class": ["python", "gen ai", "mlops eng"]}

In [101]:
d1

{0: [3, 4, 5, 6, 6],
 'xyz': (3, 4, 5, 6, 7),
 True: {4, 5, 6, 7},
 'company name': 'euron',
 'class': ['python', 'gen ai', 'mlops eng']}

In [102]:
d1["xyz"]

(3, 4, 5, 6, 7)

In [103]:
d1[0]

[3, 4, 5, 6, 6]

In [106]:
d1[True]

{4, 5, 6, 7}

In [107]:
d1 = {0:[3,4,5,6,6] , "xyz": (3,4,5,6,7) , True : {4,5,6,7,7,5,5,4} , "company name": "euron", "class": ["python", "gen ai", "mlops eng"], 'xyz': 'akshay'}

In [108]:
d1

{0: [3, 4, 5, 6, 6],
 'xyz': 'akshay',
 True: {4, 5, 6, 7},
 'company name': 'euron',
 'class': ['python', 'gen ai', 'mlops eng']}

In [109]:
d1['xyz']= 'akshy'

In [110]:
d1

{0: [3, 4, 5, 6, 6],
 'xyz': 'akshy',
 True: {4, 5, 6, 7},
 'company name': 'euron',
 'class': ['python', 'gen ai', 'mlops eng']}

In [124]:
s= 'akshay reddy'

In [125]:
s.capitalize()

'Akshay reddy'

In [116]:
s.center(50,"#")

'######################euron#######################'

In [117]:
s.count("ro")

1

In [118]:
s.find("u")

1

In [126]:
s.title()

'Akshay Reddy'

In [127]:
s

'akshay reddy'

In [131]:
s.istitle()

False

In [133]:
l= [3,4,5,6,6,6,"python", "datascience"]

In [134]:
l

[3, 4, 5, 6, 6, 6, 'python', 'datascience']

In [136]:
l.append("akahay")

In [137]:
l

[3, 4, 5, 6, 6, 6, 'python', 'datascience', 'akahay']

In [139]:
l.append([4,5,6])

In [140]:
l

[3, 4, 5, 6, 6, 6, 'python', 'datascience', 'akahay', [4, 5, 6]]

In [141]:
l.copy()

[3, 4, 5, 6, 6, 6, 'python', 'datascience', 'akahay', [4, 5, 6]]

In [142]:
l1=l

In [143]:
l1

[3, 4, 5, 6, 6, 6, 'python', 'datascience', 'akahay', [4, 5, 6]]

In [144]:
l2=l.copy()

In [145]:
l

[3, 4, 5, 6, 6, 6, 'python', 'datascience', 'akahay', [4, 5, 6]]

In [146]:
l1

[3, 4, 5, 6, 6, 6, 'python', 'datascience', 'akahay', [4, 5, 6]]

In [147]:
l2

[3, 4, 5, 6, 6, 6, 'python', 'datascience', 'akahay', [4, 5, 6]]

In [148]:
l1[0]='euron'

In [149]:
l1

['euron', 4, 5, 6, 6, 6, 'python', 'datascience', 'akahay', [4, 5, 6]]

In [150]:
l

['euron', 4, 5, 6, 6, 6, 'python', 'datascience', 'akahay', [4, 5, 6]]

In [151]:
l2

[3, 4, 5, 6, 6, 6, 'python', 'datascience', 'akahay', [4, 5, 6]]

In [152]:
l2[3]='reddy'

In [153]:
l2

[3, 4, 5, 'reddy', 6, 6, 'python', 'datascience', 'akahay', [4, 5, 6]]

In [154]:
l1

['euron', 4, 5, 6, 6, 6, 'python', 'datascience', 'akahay', [4, 5, 6]]

In [155]:
l

['euron', 4, 5, 6, 6, 6, 'python', 'datascience', 'akahay', [4, 5, 6]]

In [157]:
l.count(6)

3

In [159]:
l.extend("pavan")

In [160]:
l

['euron',
 4,
 5,
 6,
 6,
 6,
 'python',
 'datascience',
 'akahay',
 [4, 5, 6],
 'p',
 'a',
 'v',
 'a',
 'n']

In [161]:
l.extend("[4,5,6]")

In [162]:
l

['euron',
 4,
 5,
 6,
 6,
 6,
 'python',
 'datascience',
 'akahay',
 [4, 5, 6],
 'p',
 'a',
 'v',
 'a',
 'n',
 '[',
 '4',
 ',',
 '5',
 ',',
 '6',
 ']']

In [163]:
l.extend("56")

In [164]:
l

['euron',
 4,
 5,
 6,
 6,
 6,
 'python',
 'datascience',
 'akahay',
 [4, 5, 6],
 'p',
 'a',
 'v',
 'a',
 'n',
 '[',
 '4',
 ',',
 '5',
 ',',
 '6',
 ']',
 '5',
 '6']

In [165]:
l.extend("5")

In [166]:
l

['euron',
 4,
 5,
 6,
 6,
 6,
 'python',
 'datascience',
 'akahay',
 [4, 5, 6],
 'p',
 'a',
 'v',
 'a',
 'n',
 '[',
 '4',
 ',',
 '5',
 ',',
 '6',
 ']',
 '5',
 '6',
 '5']

In [167]:
l.index('python')

6

In [169]:
l.pop()

'5'

In [170]:
l

['euron',
 4,
 5,
 6,
 6,
 6,
 'python',
 'datascience',
 'akahay',
 [4, 5, 6],
 'p',
 'a',
 'v',
 'a',
 'n',
 '[',
 '4',
 ',',
 '5',
 ',',
 '6',
 ']',
 '5',
 '6']

In [171]:
l.pop(8)

'akahay'

In [172]:
l

['euron',
 4,
 5,
 6,
 6,
 6,
 'python',
 'datascience',
 [4, 5, 6],
 'p',
 'a',
 'v',
 'a',
 'n',
 '[',
 '4',
 ',',
 '5',
 ',',
 '6',
 ']',
 '5',
 '6']

In [173]:
l

['euron',
 4,
 5,
 6,
 6,
 6,
 'python',
 'datascience',
 [4, 5, 6],
 'p',
 'a',
 'v',
 'a',
 'n',
 '[',
 '4',
 ',',
 '5',
 ',',
 '6',
 ']',
 '5',
 '6']

In [174]:
l.remove("python")

In [175]:
l

['euron',
 4,
 5,
 6,
 6,
 6,
 'datascience',
 [4, 5, 6],
 'p',
 'a',
 'v',
 'a',
 'n',
 '[',
 '4',
 ',',
 '5',
 ',',
 '6',
 ']',
 '5',
 '6']

In [176]:
l.insert(1,'akshay')

In [177]:
l

['euron',
 'akshay',
 4,
 5,
 6,
 6,
 6,
 'datascience',
 [4, 5, 6],
 'p',
 'a',
 'v',
 'a',
 'n',
 '[',
 '4',
 ',',
 '5',
 ',',
 '6',
 ']',
 '5',
 '6']

In [178]:
l.sort

In [179]:
l1= [10,25,29,12,6]

In [180]:
l1.sort()

In [181]:
l1

[6, 10, 12, 25, 29]

In [182]:
t=(4,5.6,7,8,9,0,2,3,4)

In [183]:
t.count(0)

1

In [185]:
t.index(2)

6

In [186]:
s2={4,45.67,5,56,7,True,'sudh',(45+7j)}

In [187]:
s2.add(345)

In [188]:
s2

{(45+7j), 345, 4, 45.67, 5, 56, 7, True, 'sudh'}

In [189]:
s2.add('akshayreddy')

In [190]:
s2

{(45+7j), 345, 4, 45.67, 5, 56, 7, True, 'akshayreddy', 'sudh'}

In [191]:
d1

{0: [3, 4, 5, 6, 6],
 'xyz': 'akshy',
 True: {4, 5, 6, 7},
 'company name': 'euron',
 'class': ['python', 'gen ai', 'mlops eng']}

In [192]:
d1.keys()

dict_keys([0, 'xyz', True, 'company name', 'class'])

In [193]:
list(d1.keys())

[0, 'xyz', True, 'company name', 'class']

In [195]:
d1.values()

dict_values([[3, 4, 5, 6, 6], 'akshy', {4, 5, 6, 7}, 'euron', ['python', 'gen ai', 'mlops eng']])

In [196]:
d1.items()

dict_items([(0, [3, 4, 5, 6, 6]), ('xyz', 'akshy'), (True, {4, 5, 6, 7}), ('company name', 'euron'), ('class', ['python', 'gen ai', 'mlops eng'])])

In [198]:
d1.pop("class")

['python', 'gen ai', 'mlops eng']

In [199]:
d1

{0: [3, 4, 5, 6, 6],
 'xyz': 'akshy',
 True: {4, 5, 6, 7},
 'company name': 'euron'}

In [200]:
d1.popitem()

('company name', 'euron')

In [201]:
d1

{0: [3, 4, 5, 6, 6], 'xyz': 'akshy', True: {4, 5, 6, 7}}

In [211]:
d1.keys()

dict_keys([0, 'xyz', True])

In [217]:
light = input('enter the light situation')

if light == 'Green' :
    print('you can go now')
elif light == 'red':
    print('you have to stop')
else:
    print('get ready')

get ready

In [221]:
userid= input('enter the user name')
password= input('enter the password')
print('user id=', userid,'password= ', password)
if userid == 'akshay77' and password == 'KANNA':
    print('you are successfully logged in')
elif userid != 'akshay77' and password != 'KANNA':
    print('Both the username and password are wrong')
elif userid != 'akshay77':
    print('username is wrong')
else:
    print("passwprd is incorrect")

user id= akshay password=  kanna
Both the username and password are wrong

In [222]:
n= int(input('enter the number'))
if n % 2 == 0:
    print(n, 'is even number')
else:
    print(n,'is odd number')

12 is even number

In [231]:
basic_course = input('enter the basic course name')


if basic_course == 'python':
    advance_course = input('enter the advance course name')
    if advance_course == 'data science':
        print('you are a data scientist')
    elif advance_course == 'big data':
        print('you are a data engineer')
    elif advance_course == 'data analytics':
        print('you are business analyst')
    elif advance_course == 'gen ai':
        print('you are ai engineer')
else:
    if basic_course == "java script":
        print('you will become frontend or backend developer')

you are a data engineer

In [232]:
l=[4,5,6,7,8,3,3,4,5]

In [236]:
for i in l:
    print(i**2)

16
25
36
49
64
9
9
16
25

In [237]:
s='euron'

In [238]:
for i in s:
    print(i)

e
u
r
o
n

In [239]:
for sudh in s:
    print(sudh)

e
u
r
o
n

In [242]:
t= (2,3,5,6,1,2,9,2,4,5,3,6,)

In [243]:
for i in t:
    print(i)

2
3
5
6
1
2
9
2
4
5
3
6

In [244]:
s= {3,3,5,3,6,3,9,8,7,10}

In [246]:
for i in s:
    print(i/2)

1.5
2.5
3.0
3.5
4.0
4.5
5.0

In [247]:
d= {'name': 'euron', 'class': 'oython', 'mentor': 'akshay'}

In [251]:
for i in d.values():
    print(i)

euron
oython
akshay

In [253]:
for i,j in d.items():
    print(i,j)

name euron
class oython
mentor akshay

In [254]:
l= ['euron',4,5,6,7,8,True,'sudh',False,5+7j]

In [256]:

for i in l:
    if type(i) == str:
        print(i)

euron
sudh

In [260]:
l_str=[]
l_bool=[]
l_int=[]
l_float=[]
l_extra=[]
for i in l:
    if type(i) == str:
        l_str.append(i)
    elif type(i) == int:
        l_int.append(i)
    elif type(i) == float:
        l_float.append(i)
    elif type(i) == bool:
        l_bool.append(i)
    else:
        l_extra.append(i)

In [261]:
l_str

['euron', 'sudh']

In [262]:
l_bool

[True, False]

In [263]:
l_float

[]

In [264]:
l_int

[4, 5, 6, 7, 8]

In [266]:
import string

In [268]:
for i in string.ascii_letters:
    print(i)

a
b
c
d
e
f
g
h
i
j
k
l
m
n
o
p
q
r
s
t
u
v
w
x
y
z
A
B
C
D
E
F
G
H
I
J
K
L
M
N
O
P
Q
R
S
T
U
V
W
X
Y
Z

In [269]:
range(5)

range(0, 5)

In [271]:
list(range(1,5))

[1, 2, 3, 4]

In [274]:
list(range(0,50,5))

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45]

In [275]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [284]:
a=0
b=1
limit = 5
for i in range(10):
    print(a)
    a,b = b,a+b

0
1
1
2
3
5
8
13
21
34

In [289]:
i=1
while i <= 10:
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10

In [297]:
row = 10
for i in range(1,row):
    print(' *  '*i)

 *
 *   *
 *   *   *
 *   *   *   *
 *   *   *   *   *
 *   *   *   *   *   *
 *   *   *   *   *   *   *
 *   *   *   *   *   *   *   *
 *   *   *   *   *   *   *   *   *

In [305]:
row = 5
for i in range(1,row+1):
    print(' '*(row-i)+ '* '* (2 * i - 1))

    *
   * * *
  * * * * *
 * * * * * * *
* * * * * * * * *

In [ ]:
row=5
for i in range(1,row+1):
    print

In [309]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [311]:
print('this is my ython class')

this is my ython class

In [314]:
def aks():
    pass

In [315]:
def aks1():
    print('my name is akshay')

In [316]:
aks1()

my name is akshay

In [319]:
def aks2(a,b):
    print(a+b)

In [322]:
aks2([4,5,6],[6,7,8])

[4, 5, 6, 6, 7, 8]

In [327]:
def aks3(a,b,c,d,e):
    print(a,b,c,d,e)

In [328]:
aks3(1,2,3,4,5)

1 2 3 4 5

In [330]:
def aks4(a):
    print(a)

In [344]:
def x(a,b):
    print(a,b)

In [346]:
x([1,2,3,4],10)

[1, 2, 3, 4] 10

In [360]:
def x(a,b,c,d,e):
    print(a,b,c,d,e)

In [362]:
type(x(1,2,3,4,5))

1 2 3 4 5

NoneType

In [352]:
x(1,2,3,4,5)

1 2 3 4 5

In [353]:
def aks(a):
    print(a)

In [363]:
def aks1(a):
    return a

In [365]:
aks1(5) + 5

10

In [366]:
type(aks1(5))

int

In [367]:
def test(*aar):
    return aar

In [372]:
type(test(1,2,3,4,5,6))

tuple

In [371]:
test('akshay')

('akshay',)

In [373]:
def test6(*aar):
    return sum(aar)

In [375]:
test6(1,2,3,4,5,6)

21

In [376]:
def test8(**aar):
    return aar

In [380]:
test8(name= 'akshay', age= 38, sex= 'male')

{'name': 'akshay', 'age': 38, 'sex': 'male'}

In [387]:
def test9():
    return "sudh", [1,23,4,5],(1,2,3)

In [388]:
test9()

('sudh', [1, 23, 4, 5], (1, 2, 3))

In [390]:
a,b,c= test9()

In [391]:
a

'sudh'

In [392]:
b

[1, 23, 4, 5]

In [393]:
c

(1, 2, 3)

In [395]:
def test10():
    """this is created by akshay"""
    return 657

In [ ]:
test10()

In [397]:
def test11(a,b):
    return a+b

In [399]:
a = lambda a,b : a+b

In [400]:
a(5,6)

11

In [401]:
l= [3,4,5,6,7,8]

In [403]:
l1= []
for i in l:
    l1.append(i**2)

In [404]:
l1

[9, 16, 25, 36, 49, 64]

In [406]:
list(map(lambda x : x**2,l))

[9, 16, 25, 36, 49, 64]

In [407]:
def a(x):
    return x**2

In [413]:
l= [1,2,3,4,5]
l1= []
for i in l:
    if i%2 != 0:
        l1.append(i)
print(l1)

[1, 3, 5]

In [415]:
list(filter(lambda x: x%2 !=0, l))

[1, 3, 5]

In [416]:
from functools import reduce

In [417]:
l= [1,2,3,4,5,6]

In [419]:
reduce(lambda x,y:x+y, l)

21

In [421]:
def fact(n):
    if n == 0 or n == 1:
        return 1
    return n*fact(n-1)

In [422]:
fact(3)

6

In [423]:
s= "akshay"

In [424]:
s[::-1]

'yahska'

In [430]:
s[:-1]

'aksha'

In [431]:
def rev(s):
    if len(s) == 0:
        return ""
    return s[-1]+ rev(s[:-1])

In [432]:
rev('aarnik')

'kinraa'

In [447]:
def sum(l):
    if len(l) == 0:
        return 0
    return l[0]+ sum(l[1:])
sum ([1,2,3,4,5])

15

In [448]:
from functools import reduce

In [455]:
def square(s):
    return reduce(lambda x,y: x + y**2, s,0)
square([2,1,1])

6

TypeError: 'str' object is not callable

In [457]:
def product(s):
    return reduce(lambda x,y: x*y,s,1)
product([1,2,3,4,5])

120

In [460]:
def max(s):
    return reduce(lambda x,y: x if x > y else y,s)
max([1,2,3,4,5,100,99])

100

In [475]:
def str(*args):
   return reduce(lambda x,y: x+y,args)
a=str('akshay','reddy','is','awesome')
print(a)

akshayreddyisawesome

In [477]:
def aks(a):
    return reduce(lambda x,y: x+y,a)
aks([1,2,3,4])

10

In [480]:
def aar(a):
    return reduce(lambda x,y: x if x<y  else y,a)
aar([1,2,3,4])

1

In [488]:
a= ['aarnik','is','a','goodboy']
b= reduce (lambda x,y: x+y , a)
print(b)

aarnikisagoodboy

In [490]:
n

5

In [494]:
with open('test.txt','w') as f:
    f.write('akshay')

In [495]:
import zipfile
with zipfile.Zipfile('akshay.zip','w') as f:
    f.write

AttributeError: module 'zipfile' has no attribute 'Zipfile'

In [506]:
try : 
    a= int(input('enter a'))
    b= int(input('enter b'))
    print(a,b)
    c= a/b
    print(c)
except Exception as e:
    print(e)
try:
    print('my name is akshay')
except:
    pass

invalid literal for int() with base 10: 'aks'
my name is akshay

In [513]:
try : 
    a= int(input('enter a'))
    b= int(input('enter b'))
    print(a,b)
    c= a/b
    print(c)
except ZeroDivisionError as e:
    print(e)
except ValueError as e:
    print(e)
finally:
    print('akshay')
try:
    print('my name is akshay')
except:
    pass
finally:
    try:
        d= int(input())
    except Exception as e:
        print(e)

24 10
2.4
akshay
my name is akshay
invalid literal for int() with base 10: 'aks'

In [ ]:
try: 
    a= int(input('enter a number'))
    if a %2 == 0:
        print('this is even')
        a+=10
except Exception as e:
    print(e)

In [514]:
def euron_course(course,mentor,price):
    print(course,mentor,price)

In [516]:
class course:
    pass

In [526]:
class euron_course:
    def __init__(self,name,mentor,price):
        self.name= name
        self.mentor= mentor
        self.price= price
e1 = euron_course('python','sudh',2000)
e1.price
e2= euron_course('data','imran',2000)
e2.name

'data'

In [550]:
class euron:
    def __init__(self, name,course, mentor, price):
        self.name= name
        self.course= course
        self.mentor= mentor
        self.price= price
    def __str__(self):
        return f'name: {self.name}, course: {self.course}, price: {self.price}'
    def __len__(self):
        return self.name

In [545]:
eu_obj1= euron('akshay','python','akshay',2000)

In [536]:
eu_obj1.name

'akshay'

In [551]:
print(eu_obj1)

name: akshay, course: python, price: 2000

In [553]:
class course:
    def __init__(self, course_id,course_name,instructor_name ):
        self.course_id= course_id
        self.course_name= course_name
        self.instructor_name= instructor_name

a= course(567,'python','akshay')
print(a.course_id,a.course_name,a.instructor_name)

567 python akshay

In [560]:
class room:
    def __init__(self, room_no, floor,building):
        self.room_no= room_no
        self.floor= floor
        self.building= building
a= room(276,"fourth",'building')
print('room number: ', a.room_no)
print('floor and building: ', a.floor ,a.building)

room number:  276
floor and building:  fourth building

In [562]:
class student:
    def __init__(self,student_name,student_id,student_fee):
        self.student_name= student_name
        self.student_id= student_id
        self.student_fee= student_fee
x= student('askhay',12345,2000)
x.student_name

'askhay'

In [564]:
def euron_course(course,mentor,price):
    print(course,mentor,price)

In [566]:
class euron:
    pass

In [569]:
class euron_course:
    def __init__(self,course_name,course_mentor,price):
        self.course_name=course_name
        self.course_mentor= course_mentor
        self.price= price
a= euron_course("python",'akshay',2000)
a.course_name
a1= euron_course('java','kanna',2000)
a1.course_mentor

'kanna'

In [619]:
class euron_course:
    def __init__(self,course_name,course_mentor,price):
        self.course_name=course_name
        self.__course_mentor= course_mentor
        self.price= price
    def display_course(self):
        print(f'course name: {self.course_name}, course mentor: {self.course_mentor}, price: {self.price}')
    
    def update_price(self,new_price):
        self.price1= new_price
        print(f'updated course: {self.price1} from {self.price}')
    def enroll_student(self,student_name):
        print(f'{student_name} has enrolled in {self.course_name}')
    def get_mentor(self):
        return self.__course_mentor

In [611]:
x=euron_course('python','reddy',500)

In [613]:
x.enroll_student('akshay')

akshay has enrolled in python

In [620]:
x.update_price(1000)

updated course: 1000

In [618]:
pro_course= euron_course('python','akshay',2000)
pro_course1= euron_course('java','reddy',2000)
pro_course2= euron_course('bigdata','kanna',2000)

In [591]:
pro_course2.course_name

'bigdata'

In [602]:
class euron:
    def __init__(self,course_name, course_mentor, course_price):
        
        self.course_name=course_name
        self.course_mentor= course_mentor
        self.course_price= course_price
    def display_course(self):
        print(f'course name:{self.course_name}, course price: {self.course_price}')
class euron_course(euron):
    def __init__(self, course_name, course_mentor, course_price,course_duration):
        super().__init__(course_name, course_mentor, course_price)
        self.course_duration=course_duration
e1=euron_course('python','akshay',2000,4)
e1.display_course()

course name:python, course price: 2000

In [604]:
class euronmentor:
    def teach(self):
        print('mentor teaching')
class python_mentor(euronmentor):
    def teach(self):
        print("python teaching")
class java_mentor(euronmentor):
    def teach(euronmentor):
        print('java teaching')

In [649]:
class python:
    def __init__(self,course_name,mentoe_name,price):
        self.course_name= course_name
        self.mentoe_name= mentoe_name
        self.price=price
    def __str__(self):
        return f'{self.course_name} is mentored by {self.mentoe_name} and the price is {self.price}'
    def __len__(self):
        return len(self.course_name)
    def __repr__(self):
        return f'{self.course_name},{self.mentoe_name},{self.price}'

In [650]:
a1=python('python','akshay',2000)

In [651]:
print(repr(a1))

python,akshay,2000

In [642]:
print(a1)

python is mentored by akshay and the price is 2000

In [646]:
print(len(a1))

6

In [625]:
a1.course_name

'python'

In [636]:
print(a1)

<__main__.python object at 0x000001AE142EF210>

In [31]:
class euron:
    def __init__(self,name, mentor, price):
        
        self._name=name
        self._mentor= mentor
        self._price= price
    @property
    def name(self):
        return self._name
    @name.setter
    def change(self,name):
        self._name=name
    @name.deleter
    def delete(self):
        del self._name

In [12]:
e1=euron('python','akshay',2000)

In [32]:
del e1.delete

AttributeError: 'euron' object has no attribute 'delete'

In [23]:
e1.change='amrendra'

In [25]:
e1.name

'python'

In [36]:
from abc import ABC,abstractmethod

class euron_class(ABC):
    @abstractmethod
    def live_stream(self):
        pass
    @abstractmethod
    def live_chat(self):
        pass
    @abstractmethod
    def live_upload(self):
        pass
    @abstractmethod
    def live_feedback(self):
        pass

In [37]:
class euron1(euron_class):
    def live_stream(self):
        return super().live_stream()

In [39]:
range(10)

range(0, 10)

In [40]:
for i in range (10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [43]:
l=list(range(5))
for i in l:
    print (i)

0
1
2
3
4

In [46]:
r= range(10)
r1= iter(r)

In [47]:
next(r1)

0

In [50]:
s='aksh'
s1=iter(s)

In [51]:
next(s1)

'a'

In [52]:
next(s1)

'k'

In [53]:
a=6
a1=iter(a)

TypeError: 'int' object is not iterable

In [54]:
range(5)

range(0, 5)

In [55]:
list(range(5))

[0, 1, 2, 3, 4]

In [1]:
def add(a,b):
    print('the input is {a} and {b}')
    c=a+b
    print('the sum is ',c)
    return c

In [2]:
def mul(a,b):
    print('the input is {a} and {b}')
    c=a*b
    print('the product is ',c)
    return c

In [3]:
def div(a,b):
    print('the input is {a} and {b}')
    c=a/b
    print('the div is ',c)
    return c

In [4]:
def mod(a,b):
    print('the input is {a} and {b}')
    c=a%b
    print('the mod is ',c)
    return c

In [5]:
def sub(a,b):
    c= a-b
    return c

In [10]:
def decorator_custom(func):
    def impl(a,b):
        print(f'the function {func.__name__} is called {a} and {b}')
        result=func(a,b)
        print(f'the result of {func.__name__} is {result}')
        return func(a,b)
    return impl

In [12]:
@decorator_custom
def sub(a,b):
    c= a-b
    return c

In [13]:
sub(10,2)

the function sub is called 10 and 2
the result of sub is 8

8

In [19]:
import time
def loop_list(l):
    start_time=time.time()
    for i in l:
        time.sleep(0.15)
        print(i)

    end_time= time.time()
    print(f'execution time is {end_time-start_time}')

In [20]:
loop_list(range(10))

0
1
2
3
4
5
6
7
8
9
execution time is 1.5078442096710205

In [32]:
import time
def time_cal(func):
    def abc(*args,**kwargs):
        start_time =time.time()
        result=func(*args,**kwargs)
        end_time = time.time()
        print(f'the execution time is {func.__name__} is {end_time-start_time}')
        return result
    return abc
@time_cal
def loop_list(l):
    for i in l:
        time.sleep(0.15)
        print(i)
loop_list([0,1,2,3,4])

0
1
2
3
4
the execution time is loop_list is 0.7566735744476318